[Desktop Entry]
Name=Factory Desktop
Comment=Factory Desktop for Linux
Exec=env CHROME_DESKTOP=factory-desktop.desktop AppRun %U
Icon=factory-desktop
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=factory
X-GNOME-WMClass=factory
MimeType=x-scheme-handler/factory-desktop;
