[Desktop Entry]
Name=Factory Desktop
Comment=Factory Desktop for Linux
Exec=env FACTORY_DISABLE_KEYRING=1 BAMF_DESKTOP_FILE_HINT=/usr/share/applications/factory-desktop.desktop CHROME_DESKTOP=factory-desktop.desktop /opt/Factory/factory-desktop-launcher %U
Icon=factory-desktop
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=factory
X-GNOME-WMClass=factory
MimeType=x-scheme-handler/factory-desktop;
