<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>Factory Desktop Linux</vendor>
  <action id="org.factory.desktop.update-manager.install-deb">
    <description>Install a validated Factory Desktop update</description>
    <message>Authentication is required to install a Factory Desktop update.</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/factory-update-manager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-deb</annotate>
  </action>
  <action id="org.factory.desktop.update-manager.install-validated-package">
    <description>Install a locally validated Factory Desktop update</description>
    <message>Install a locally validated Factory Desktop update.</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>no</allow_active></defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/factory-update-manager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-validated-package</annotate>
  </action>
  <action id="org.factory.desktop.update-manager.install-rpm">
    <description>Install a validated Factory Desktop RPM update</description>
    <message>Authentication is required to install a Factory Desktop RPM update.</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/factory-update-manager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-rpm</annotate>
  </action>
</policyconfig>
